<div class="tm-blogroll">
<div class="post-group">
<ul>
<% for (const item of items) { %>
<li>
<a class="post-item-link" href="<%- item.path %>">
<time class="desktop-time"><%= item.date %></time>
<div class="post-info">
<div class="post-title"><%= item.title %></div>
<% if (item.description) { %><div class="author-date"><%= item.description %></div><% } %>
<time class="mobile-time"><%= item.date %></time>
</div>
</a>
</li>
<% } %>
</ul>
</div>
</div>
