<div class="tm-blogroll">
<div class="post-group">
<ul>
<% for (const item of items) { %>
<% const authors = Array.isArray(item.author) ? item.author.join(", ") : item.author; %>
<li>
<a class="post-item-link" href="<%- item.path %>">
<time class="desktop-time"><%= item.date %></time>
<div class="post-info">
<div class="post-title"><%= item.title %></div>
<% if (authors) { %><div class="author-date"><%= authors %></div><% } %>
<time class="mobile-time"><%= item.date %></time>
</div>
</a>
</li>
<% } %>
</ul>
</div>
</div>
